*{
    font-family: 'Poppins', 'Sans-serif';
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-auto-columns: 1fr;
    grid-template-areas: "cabecalho"
    "principal"
    "rodape";
}
.cabecalho{
    grid-area: cabecalho;
    background-color: #F44437;
}
.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
}
.rodape{
    grid-area: rodape;
    background-color: black;
}