*{
    font-family: 'Poppins', 'Sans-serif';
    box-sizing: border-box;
}
body{
    width: 95%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #777777;
}
form.busca{
    font-size: 12px;
    text-align: right;
}
a:link {
    color:black;
    text-decoration: none;
}
a:visited {
    color:#0000;
    text-decoration: none;
}
a:hover {
    color: #FF0000;;
    text-decoration: none;
}  
a:active {
    color: #000000;
    text-decoration: none;
}
table.list{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.list tr{
    height: 100%;
    width: 100%;
}
table.list td{
    border: 1px solid #000000;
    padding: 10px
}
table.list tr:nth-child(even){
    background-color: #F2F2F2;
}
footer{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
}