body{
    font-family: 'Poppins';
    background-color: #FFFFFF;  
}
div#body{
    width: 100vh;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #777777;
}
table.list{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.list tr{
    height: 100%;
    width: 100%;
}
table.list td{
    border: 1px solid #000000;
    padding: 10px
}
table.list tr:nth-child(even){
    background-color: #F2F2F2;
}
